body{
  background: black;
  font-family: 'Open Sans', sans-serif;
  background-size: contain;
  background-image: url('https://i.ytimg.com/vi/voWpbz1De_M/maxresdefault.jpg');
  color: white;
  text-align: center;
}
p{
  font-size: 2.3vw;
  font-weight: bold;
}
input{
  margin: 30px;
  font-size: 5vw;
  text-align: center;
  border: none;
  padding-top: 6px;
  padding-bottom: 3px;
  color: #E7D21C;
  border-bottom: solid 1px;
  outline: none;
  background: transparent;
}
button{
  outline: none;
  width: 30%;
  border: none;
  border-radius: 8px;
  color: white;
  background: #E7D21C;
  margin: auto;
  font-size: 3vw;
}
button:hover{
  cursor: pointer;
}
.StarwarsTitle{
  margin: 0px;
  color: #E7D21C;
  font-size: 7vw;
  font-weight: 100;
  font-family: sans-serif;
  font-family: 'Rubik Mono One', sans-serif;
}
.cardsTitle{
  margin: 10px;
  color: white;
  font-size: 3vw;
  font-family: sans-serif;
}
.card-container{
  width: 30%;
  background:rgba(255,255,255, 0.7);
  color: black;
  display: block;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  border-radius: 8px;
  border: solid 1px black;
}
.StarWarsImg{
  margin: auto;
  margin-top: 15px;
  width: 80%;
}
.page{
  font-size: 5vw;
  margin: 0px;
}
.pagination-container{
  margin: 30px;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
}
